In [1]:
import pandas as pd
import csv

In [2]:
fields = ['Name','Age','Address','Qualification']
data=pd.read_csv('some.csv',names=fields)

In [3]:
data

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [4]:
data[['Name','Age']].to_csv("newfile.csv")

In [5]:
df=data[['Name','Age']]

In [6]:
df

     Name  Age
0     Jai   27
1  Princi   24
2  Gaurav   22
3    Anuj   32

In [7]:
fields = ['Sno','Date','Time','State/UnionTerritory','ConfirmedIndianNational','ConfirmedForeignNational','Cured','Deaths','Confirmed']
# name of csv file 
filename = "covid_19_india.csv"

In [8]:
data=pd.read_csv('covid_19_india.csv',names=fields)

In [9]:
data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,NaN
1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,NaN
2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,NaN
3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,NaN
4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
6,04/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
7,05/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
8,06/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
9,07/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
10,08/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
11,09/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
12,10/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
13,11/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
14,12/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
15,13/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
16,14/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
17,15/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
18,16/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
19,17/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
20,18/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
21,19/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
22,20/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
23,21/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
24,22/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
25,23/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
26,24/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
27,25/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
28,26/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
29,27/02/20,6:00 PM,Kerala,3,0,0,0,3,NaN
...,...,...,...,...,...,...,...,...,...
4573,28/07/20,8:00 AM,Chhattisgarh,-,-,5172,44,7745,NaN
4574,28/07/20,8:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,564,2,946,NaN
4575,28/07/20,8:00 AM,Delhi,-,-,116372,3853,131219,NaN
4576,28/07/20,8:00 AM,Goa,-,-,3410,36,5119,NaN
4577,28/07/20,8:00 AM,Gujarat,-,-,41380,2348,56874,NaN
4578,28/07/20,8:00 AM,Haryana,-,-,25046,397,32127,NaN
4579,28/07/20,8:00 AM,Himachal Pradesh,-,-,1216,14,2270,NaN
4580,28/07/20,8:00 AM,Jammu and Kashmir,-,-,10402,321,18390,NaN
4581,28/07/20,8:00 AM,Jharkhand,-,-,3770,89,8683,NaN
4582,28/07/20,8:00 AM,Karnataka,-,-,37685,1953,101465,NaN
4583,28/07/20,8:00 AM,Kerala,-,-,10045,63,19727,NaN
4584,28/07/20,8:00 AM,Ladakh,-,-,1066,4,1306,NaN
4585,28/07/20,8:00 AM,Madhya Pradesh,-,-,19791,820,28589,NaN
4586,28/07/20,8:00 AM,Maharashtra,-,-,221944,13883,383723,NaN
4587,28/07/20,8:00 AM,Manipur,-,-,1596,0,2286,NaN
4588,28/07/20,8:00 AM,Meghalaya,-,-,186,5,738,NaN
4589,28/07/20,8:00 AM,Mizoram,-,-,193,0,384,NaN
4590,28/07/20,8:00 AM,Nagaland,-,-,569,5,1385,NaN
4591,28/07/20,8:00 AM,Odisha,-,-,17374,147,26892,NaN
4592,28/07/20,8:00 AM,Puducherry,-,-,1720,43,2872,NaN
4593,28/07/20,8:00 AM,Punjab,-,-,9064,318,13769,NaN
4594,28/07/20,8:00 AM,Rajasthan,-,-,26123,631,36878,NaN
4595,28/07/20,8:00 AM,Sikkim,-,-,174,1,555,NaN
4596,28/07/20,8:00 AM,Tamil Nadu,-,-,162249,3571,220716,NaN
4597,28/07/20,8:00 AM,Telengana,-,-,42909,480,57142,NaN
4598,28/07/20,8:00 AM,Tripura,-,-,2467,17,4049,NaN
4599,28/07/20,8:00 AM,Uttarakhand,-,-,3675,66,6328,NaN
4600,28/07/20,8:00 AM,Uttar Pradesh,-,-,42833,1456,70493,NaN
4601,28/07/20,8:00 AM,West Bengal,-,-,39917,1411,60830,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import csv
with open('large.csv','w') as f1:
    writer=csv.writer(f1, delimiter=',',lineterminator='\n',)
    f = open('covid_19_india.csv')
    csv_f = csv.reader(f)
    for row in csv_f:
        #print(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8])
        writer.writerow(row)